:root {
    --accent: #EF8354;
    --background: #fbfbfb;
    --primary: #4F5D75;
    --secondary: #BFC0C0;
    --text: #2D3142;

    --dark-accent: #ad3f10;
    --dark-background: #010104;
    --dark-primary: #8c99b1;
    --dark-secondary: #3f4040;
    --dark-text: #bcc0d2;
}
